
jira.json
__pycache__/sheetsearcher.cpython-311.pyc
creds.json
*.pyc
*.exe
build/starter/Analysis-00.toc
build/starter/base_library.zip
build/starter/EXE-00.toc
build/starter/PKG-00.toc
build/starter/PYZ-00.pyz
build/starter/PYZ-00.toc
build/starter/starter.exe.manifest
build/starter/starter.pkg
build/starter/Tree-00.toc
build/starter/Tree-01.toc
build/starter/Tree-02.toc
build/starter/warn-starter.txt
build/starter/xref-starter.html
starter.spec
*.ico
dist/config.json
config.json
